body {
    height: 100vh;
    padding-top: 70px;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.table-container {
    max-width: 1100px;
    margin: auto;
    background: #fff;
    border: 1px solid #ccc;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

thead {
    background-color: #f2f2f2;
    font-weight: bold;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.total-row {
    font-weight: bold;
    background-color: #e0e0e0;

}